package-lock=false
@gaoding:registry=https://registry-npm.gaoding.com
registry = "https://registry.npmmirror.com"
@gaoding:registry="https://registry-npm.gaoding.com"
@gdcli:registry="https://registry-npm.gaoding.com"
@gaodingx:registry="https://registry-npm.gaoding.com"
@gd-foco:registry="https://registry-npm.gaoding.com"
puppeteer_download_host=https://npm.taobao.org/mirrors
link-workspace-packages=true
shamefully-hoist=ture
public-hoist-pattern[]=*
prefer-workspace-packages=true
